.service-page{
    width: 100%;
    min-height: 100vh;
}
.service-page-landing-section{
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.7rem;
    position: relative;
    background: url("../../images/service-page-landing-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 70vh;
}
.service-page-landing-section::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 191, 255, 0.42); */
    background-color: rgba(0, 0, 0, 0.551);
}
.service-page-landing-section h2{
    position: relative;
}
.service-page-landing-section p{
    max-width: 500px;
    position: relative;
}
.service-page-service-section{
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
}
.service-card{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 400px;
}
.service-card:nth-child(even){
    margin-top: 4rem;
}
.service-card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 16px var(--blue);
}
.service-card h3{
    font-size: 1.4rem;
    background-color: var(--blue);
    padding: 0.3rem 0.3rem;
    color: white;
    border-top-right-radius: 20px;
}
.service-card ul li{
    font-size: 11px;
    margin-left: 1rem;
}
.service-card ul li::marker {
    color: var(--blue);
  }

@media screen and (max-width:600px) {
    .service-page-landing-section{
        min-height: 50vh;
    }
}
@media screen and (max-width:500px) {
    .service-page-service-section{
        display: flex;
        flex-direction: column;
    }
    .service-card:nth-child(even){
        margin-top: 0rem;
    }
    .service-card{
        width: 100%;
    }
    .service-card img{
        width: 100%;
        height: 300px;
    }
}