.admin-dashboard{
    width: 100%;
    background-color: rgb(13, 1, 40);
    padding: 2rem 2rem;
    color: white;
}
.admin-dashboard-landing-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.admin-dashboard-landing-section-left{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.admin-dashboard-landing-section-left h1 span{
    color: var(--blue);
}
.admin-dashboard-landing-section-left-bottom{
    display: flex;
    gap: 1rem;
}
.service-management-option{
    padding: 1rem 2rem;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
}
.service-management-option:nth-child(1){
    background-color: var(--blue);
}
.service-management-option:nth-child(2){
    background-color: orangered;
}
.admin-dashboard-landing-section-right img{
    width: 400px;
}


.admin-dashboard-service-section{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.admin-dashboard-service-section-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.admin-dashboard-service-section-top p{
    max-width: 500px;
}
.admin-dashboard-service-section-top h2 span{
    color: var(--blue);
}
.admin-dashboard-service-section-middle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.admin-dashboard-service-section-middle img{
    width: 400px;
}
.service-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid white; */
    padding: 2rem 2rem;
    border-radius: 6px;
    box-shadow: rgba(194, 194, 194, 0.46) 0px 2px 2px 0px inset;
}
.service-form .input-field{
    width: 100%;
}
.key-point-box .input-field{
    font-size: 10px;
    padding: 0.2rem 0.2rem;
}
.admin-dashboard-service-section-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 3rem;
    flex-wrap: wrap;
}


.admin-dashboard-query-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
}
.admin-dashboard-query-section-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.admin-dashboard-query-section-top p{
    max-width: 500px;
}
.admin-dashboard-query-section-top h2 span{
    color: var(--blue);
}
.admin-dashboard-query-section-bottom{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: stretch;
}


@media screen and (max-width:990px) {
    .admin-dashboard{
        padding-top: 9rem;
    }
}
@media screen and (max-width:500px) {
    .admin-dashboard-landing-section-left-bottom{
        flex-direction: column;
    }
    .admin-dashboard-landing-section-left{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .admin-dashboard-landing-section-right img{
        width: 300px;
    }
    .admin-dashboard-service-section-middle img{
        width: 300px;
    }
    .admin-dashboard-service-section{
        padding: 0 0;
    }
}

@media screen and (max-width:400px) {
    .admin-dashboard-service-section-middle img{
        width: 200px;
    } 
    .admin-dashboard-query-section{
        padding: 0 0;
    }
}